* {
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

header{
	background-image: url('images/rock.png');
	display: block;
	opacity: 0.6;
	padding: 10px;
	height: 15vh;
	width: 100vw;
}

header:hover{
	opacity: 1;
}

header h3{
	display: inline-block;
	left: 15px;
	margin: 0;
	margin-right: 20px;
	/*position: relative;
	top: 10.5vh;*/
}

header h1, header h4{
	/*position: absolute;
	right:15px;*/
}

header h4{
	margin: 0;
	top: 2vh;
}

header h1{
	margin: 0;
	top: 9vh;
}

.admin{
	display: flex;
	justify-content: flex-end;
}

.nav{
	display: flex;
	justify-content: flex-start;
	align-content: flex-end;
	margin-top: 75px;
}

.nav h1{
	margin-left: auto;
}

/*header h6, header .h4{
	color: white;
	position: relative;
	top: -135px;
	right: 10px;
	margin:	0 auto;
	text-align: right;
}*/

header .h4{
	font-size: 35px;
	font-weight: 100;
	text-align: right;
	top: -135px;
}

section{
	/*height: 85vh;*/
	/*padding-left: 4vw;*/
	width: 1280px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

#section-shares{
	padding: 20px;
	margin-bottom: 20px;
	/*position: relative;
	top: 30px;*/
}

article{
	/*align-items: center;*/
	border: thin outset black;
	box-shadow: 2px 2px 6px -1px;

	/*justify-content: center;*/
	/*margin: 4px;*/
	height: 60%;
	width: 300px;
	margin-bottom: 8px;
	margin: 10px;
}

.box1{
	background-image: url('images/rocky-mountain-national-park.png');
}

.box2{
	background-image: url('images/fall.png');
}

.box3{
	background-image: url('images/img_7743.png');
}

.box4{
	background-image: url('images/lake_city_hiking.png');
}

.box5{
	background-image: url('images/colorado4.png');
}

.box6{
	background-image: url('images/monument.png');
}

.box7{
	background-image: url('images/off-road.png');
}

.box8{
	background-image: url('images/maroon-bells-1.png');
}

.image-div{
	display: flex;
	justify-content: space-between;
	background-repeat: no-repeat;
	background-size: cover;
	margin:	0;
	padding: 10px;
	height: 18vh;
	width: 100%;
	opacity: 0.5;
}

.image-div:hover{
	opacity: 1;
}

.icon-box img{
	width: 77px;
}

.icon-box img:hover{
	width: 100px;
	cursor: pointer;
}

.views{
	color: black;
	font-size: 20px;
}

.h4, h6{
	margin: 0;
	font-size: 60px;
}

.photos:hover{
	
}



.trail-info h3, .trail-info h4, 
.trail-info{
	text-align: left;
	display: block;
	margin: 3px;
	width: 100%;
	color: black;
}

.trail-info{
	padding-left: 10px;
	line-height: 2;
}
.photo-count{
	color: #9DA3AA;
	font-size: 60px;
	margin: 0;
	line-height: 1;
}

@media (max-width: 1280px) {
	#section-shares{
		text-align: center;
		margin:	0;
		padding: 5px;
	}

	section {
		width: 960px;
	}
}

@media (max-width: 960px) {
	#section-shares{
		text-align: center;
		margin:	0;
		padding: 5px;
	}

	section {
		width: 640px;
	}
}

@media (max-width: 640px) {
	.nav{
		flex-direction: column;
		margin: 0;
	}

	#section-shares{
		text-align: center;
		margin:	0;
		padding: 5px;
	}

	section {
		width: 320px;
	}
}