*{
	display: inline-flex;
}

header{
	background-color: #2B2B2B;
	display: block;
	height: 15vh;
	padding: 10px 10px 10px 10px;
	width: 100vw;
}

h1, h3, h4{
	margin: 15px;
}

h1, h4{
	position: absolute;
	right: 10px;
}

h1{
	top: 80px;
	color: white;
}

h3, h4{
	color: grey;
}

h3{
	margin-top: 95px;
}