* {
	box-sizing: border-box;
}

header{
	background-image: url('images/rock.png');
	opacity: 0.6;
	display: block;
	height: 15vh;
	width: 100vw;
}

header h3{
	display: inline-block;
	left: 15px;
	margin: 0;
	margin-right: 20px;
	/*position: relative;
	top: 10.5vh;*/
}

header h1, header h4{
	/*position: absolute;
	right:15px;*/
}

header h4{
	margin: 0;
	top: 2vh;
}

header h1{
	margin: 0;
	top: 9vh;
}

/*header h6, header .h4{
	color: white;
	position: relative;
	top: -135px;
	right: 10px;
	margin:	0 auto;
	text-align: right;
}*/

header .h4{
	font-size: 35px;
	font-weight: 100;
	text-align: right;
	top: -135px;
}

section{
	/*height: 85vh;*/
	/*padding-left: 4vw;*/
	width: 1280px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

#section-shares{
	padding: 20px;
	margin-bottom: 20px;
	/*position: relative;
	top: 30px;*/
}

article{
	/*align-items: center;*/
	border: thin outset black;
	box-shadow: 2px 2px 6px -1px;

	/*justify-content: center;*/
	/*margin: 4px;*/
	height: 60%;
	width: 300px;
	margin-bottom: 8px;
	margin: 10px;
}

.trail{
	height: 18vh;
	width: 100%;
}

.trail-info h3, .trail-info h4, 
/*.trail-info*/{
	text-align: left;
	display: block;
	/*position: relative;*/
	margin: 3px;
	width: 100%;
	color: black;
}

@media (max-width: 1280px) {
	section {
		width: 960px;
	}
}

@media (max-width: 960px) {
	section {
		width: 640px;
	}
}

@media (max-width: 640px) {
	section {
		width: 320px;
	}
}